<header class="main-header">
  <a [routerLink]="['/']" class="logo">
    <span class="logo-mini"><b>FRONT</b></span>
    <span class="logo-lg"><b>POC FRONT</b></span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
    </div>
  </nav>
</header>