<div [ngClass]="classCss" role="alert" *ngIf="message">
  <strong>{{ message.text }}</strong>

</div>
<div class="row">
  <div class="col-md-16">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Lista de Itens</h3>
        <br><br>

        <label>Filial: 
          <br>
          <input type="number" [(ngModel)]="filial">
        </label>
        <br>
        <label>Ordenar Preço: 
          <br>
          <input type="radio" value="true" [(ngModel)]="ordemPreco"> Sim
          <input type="radio" value="false" [(ngModel)]="ordemPreco"> Não
              
        </label>
        <br>
        <br>
        <label>Buscar:
        <br>
        <input type="text" (input)="pesquisarNome()" id="nome" [(ngModel)]="nome"/>
        
      </label>
        
        <!-- <label>Nome: <input type="nome" [(ngModel)]="nome">
          <button class="btn btn-success" (click)="findByNome2()">Buscar</button>
        </label> -->


      </div>

      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>Código</th>
            <th>Estoque</th>
            <th>Preço</th>
            <th>Descrição</th>
            <!-- <th>EAN</th> -->
            <th>&nbsp;</th>


          </tr>
          <tr *ngFor="let item of cestaLista">

            <td>{{item.codigo}}</td>
            <td>{{item.estoque}}</td>
            <td>{{item.preco | currency: 'BRL' }}</td>
            <td>{{item.descricao}}</td>
            <!-- <td>{{item.ean}}</td> -->
            <td>
              <button class="btn btn-primary" (click)="detalhar(item.codigo)" data-toggle="modal" data-target="#modalDetalhe">
                Detalhes
              </button>

            </td>
          </tr>
        </table>
      </div>

        
      
    </div>
  </div>
</div>



<!-- <div class="modal fade" id="modalDetalhe"> -->

  <!-- Modal -->
  <div class="modal fade" id="modalDetalhe" tabindex="-1" role="dialog" aria-labelledby="titulo"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="titulo">Detalhes do produto</h5>
          <!-- <div [ngClass]="classCss" role="alert" *ngIf="message">
            <strong>{{ message.text }}</strong>
          
          </div> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table class="table table-bordered">
              <tr *ngFor="let detalhes of listaDetalhes">
            
                <td>
                  
                  <b> Promoção </b> 
                    <br> {{detalhes.origemDesconto}}<br>
                  <b>Preço Por </b> 
                    <br> {{detalhes.precoDe | currency: 'BRL'}}<br>
                  <b>Preço De </b> 
                    <br> {{detalhes.precoPor | currency: 'BRL'}}<br>
                  <b>Nomeclatura </b> 
                    <br> {{detalhes.nomenclatura}} <br>
                  <b>Nomeclatura detalhada </b> 
                    <br> {{detalhes.nomenclaturaDetalhada}}<br>
                  <b>Princípio ativo</b> 
                    <br> {{detalhes.principioAtivo}}<br>
                  <b>Classe terapeutica</b> 
                    <br> {{detalhes.classeTerapeutica}}<br>
                  <b>Situação do item</b> 
                    <br> {{detalhes.situacaoItem}}<br>
                  <b>Advertencias</b> 
                    <br> {{detalhes.advertencias}}<br>
                  
                  </td>
            
              </tr>
            
            </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
