<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview" >
        <a href="#">
          <i class="fa fa-edit"></i> <span>Cesta</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/cesta-list']"><i class="fa fa-circle-o"></i> Listar Itens</a></li>
        </ul>
      </li>



    </ul>
  </section>
</aside>